<!DOCTYPE html>
<html dir="ltr" lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <title>파이콘 한국 2018</title>
    <meta name="author" content="PyCon Korea 2018 Organizing team"/>
    <meta name="date" content="2018-07-10"/>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="frontcover">
      <div class="wrap">
        <img class="slogan" src="images/pyconkr2018-slogan-white-left.svg">
        <h2>파이콘 한국 2018</h2>
        <h3>서울, 코엑스</h3>
        <p><strong>스프린트</strong> / 8월 15일, 17일</p>
        <p><strong>튜토리얼</strong> / 8월 17일</p>
        <p><strong>컨퍼런스</strong> / 8월 18일, 19일</p>
        <img class="logo" src="images/pyconkr2018-logo-white.svg">
      </div>
    </div>

    <div id="leftwing" class="wingpage">
      <h2>공식 해시태그</h2>
      <h4>#pyconkr</h4>
      <h2>파이콘 한국 홈페이지</h2>
      <h4>https://pycon.kr</h4>
      <p class="disclaimer">
      실제 프로그램 및 발표자 정보, 일정은 행사 당일 변경될 수 있음을 알려드립니다.<br>
      최신 정보 및 기타 행사 안내 사항에 대해서는 파이콘 한국 홈페이지를 참고해주세요.
      </p>
    </div>

    <div id="toc">
      <h1>DIVE <span style="font-weight: 400">INTO</span><br> DIVERSITY</h1>
      <ul class="toc">
        <li><a href="#about">파이콘 한국 2018</a></li>
        <li><a href="#coc">파이콘 한국 행동강령</a></li>
        <li><a href="#pyconkr">행사 안내</a></li>
        <li><a href="#sponsors">후원사 소개</a></li>
        <li><a href="#patrons">개인 후원자 소개</a></li>
      </ul>
    </div>

    <div id="about">
      <h1 class="chapter">파이콘 한국 2018</h1>
      <h2>행사 소개</h2>
      <p>파이콘은 세계 각국의 파이썬 프로그래밍 언어 커뮤니티에서 주관하는 비영리 콘퍼런스입니다.</p>
      <p>한국에서는 처음으로 열린 파이콘 한국 2014를 시작으로 파이콘 한국 준비위원회는 건강한 국내 파이썬 생태계에 지속적인 보탬이 되고자, 커뮤니티 멤버들의 자발적인 봉사로 운영되고 있습니다. 2017년에는 저희 준비위원회가 한국에서 파이콘을 시작했던 처음의 마음가짐으로 세션뿐 아니라 더 다양한 프로그램으로 준비하였습니다. 더욱 다양한 참가자들과 함께 새로운 기술과 정보를 공유하고 서로 교류할 수 있는 행사가 되기를 희망합니다.</p>
      <h2>파이콘은 다른 개발자 행사와 <br>무엇이 다른가요?</h2>
      <p>파이콘 한국은 커뮤니티 주관으로 이뤄지는 비영리 개발자 대상 행사로, 타 기업 및 기관에서 개최하는 개발자 행사와는 성격이 다릅니다. 발표자와 튜토리얼 진행자를 포함하여, 자원봉사자와 준비위원회 담당자 등 모든 인원이 금전적 이득 없이 순수히 오픈소스 프로그래밍 언어인 파이썬의 저변 확대와 커뮤니티 활성화를 위해 진행하는 행사입니다.</p>
      <h2>슬로건 – Dive into Diversity</h2>
      <p>파이콘 한국 2018은 “Dive into Diversity – 다양성에 빠지다” 라는 슬로건으로 진행됩니다.</p>
      <p>파이썬 커뮤니티는 다양한 기술, 개성 및 경험을 갖추고 있는 전세계 구성원들이 서로의 차이를 존중하고, 다른 견해에 귀를 기울이며, 올바른 상호작용을 통해 성장하는 커뮤니티를 지향해왔습니다.</p>
      <p>파이콘 한국 2018에서는 다양한 사람들이 다양한 상황과 분야에서 다양한 의도를 가지고 파이썬과 만났던 사례를 공유합니다. 또한 우리가 원하는 것을 이루고 문제를 해결하는 도구로서, 파이썬이 어떻게 쓰이고 있는지 조명하려고 합니다. 파이콘 한국 2018을 통해 서로 다른 견해와 경험을 접하며, 생각의 경계를 허물고 새로운 아이디어를 발견하는 계기가 되었으면 합니다.</p>
      <h2>문의 &amp; 공식계정</h2>
      <p>파이콘 한국 2018에 대한 모든 문의는 아래의 공식 연락처로 주시기 바랍니다.</p>
      <p>
        <strong>이메일</strong> / support@pycon.kr<br>
        <strong>페이스북</strong> / https://www.facebook.com/pyconkorea/
      </p>
    </div>

    <div id="coc">
      <h1 class="chapter">파이콘 한국 행동강령</h1>
      <p>파이콘 한국(이하 파이콘)은 커뮤니티 주관으로 이뤄지는 비영리 개발자 대상 행사로, 오픈소스 프로그래밍 언어인 파이썬의 저변 확대와 커뮤니티 활성화를 위해 진행하는 행사입니다.</p>
      <p>우리는 이 행사에 참여하는 모든 파이썬 커뮤니티의 참여를 소중히 여기며, 모든 참석자 분들이 즐겁고 만족스러운 시간을 보내시기를 바랍니다. 이를 위해 모든 참석자 분들에게 행사 기간 동안 공식적/비공식적으로 모든 행사의 다른 참석자 분들을 존중하고 서로 예의있게 대해주실 것을 부탁드립니다.</p>
      <p>사안들을 명확하게 하기 위해 모든 참석자, 발표자, 전시 참여자, 운영자와 자원봉사자는 모든 파이콘 행사에서 아래의 성명서를 따르셔야 함을 알려드립니다. 운영자들은 행사 기간동안 성명서의 내용을 시행할 것입니다.</p>

      <h2>요약</h2>
      <ul>
        <li>파이콘은 모든 분들이 성별, 성적 지향, 장애, 외모, 신체 사이즈, 인종, 종교에 상관없이 컨퍼런스에 참여하실 수 있도록 최선의 노력을 다하고 있으며 어떤 형태의 차별도 허용하지 않고 있습니다.</li>
        <li>모든 의사소통은 다양한 배경을 가진 전문적인 청중에게 적합한 것이어야 합니다. 성적인 언어나 묘사는 대화를 포함해서 컨퍼런스의 장소 어디에서든 허용되지 않습니다.</li>
        <li>다른 사람을 존중해 주십시오. 다른 참석자들을 모욕하거나 상처주지 마십시오. 전문가답게 행동하십시오. 차별이나 성희롱, 인종차별, 공격적인 농담은 파이콘에서 허용되지 않습니다.</li>
        <li>이러한 규칙을 어기는 참석자들은 운영진의 재량에 의해 행사에 더 이상 참석하실 수 없으며, 참가비용은 환불해드리지 않습니다.</li>
        <li>모두에게 즐겁고 친근한 행사를 만드는데 협조해주셔서 감사드립니다.</li>
      </ul>

      <h2>자세한 설명</h2>
      <ul>
        <li>성별, 성적 지향, 장애, 외모, 신체사이즈, 인종, 종교, 공개장소에서 성적인 묘사, 고의적인 협박, 스토킹, 차별적인 사진이나 영상, 지속적인 행사를 방해, 부적절한 신체접촉 등 모든 공격적인 언행 및 행동은 공격적인 행동으로 간주합니다.</li>
        <li>누구라도 공격적인 행동을 한 사람은 그 행동을 중지해야 하며 운영진의 요청에 즉시 따라야 합니다.</li>
        <li>발표장의 전시자들이나 스폰서, 부스 운영자 또는 모든 작은 활동 등은 차별 금지 정책에 따라야 합니다. 특히, 전시자들은 성적 묘사, 행동 또는 다른 자료들을 사용할 수 없습니다. 자원봉사를 포함한 부스 운영자들은 외설적인 옷이나 유니폼, 복장을 입거나 다른 성적인 상황을 만들어서는 안됩니다.</li>
        <li>사용하는 단어에 유의해 주십시오. 성희롱, 인종차별, 공격적인 농담은 주위 사람들에게 공격적으로 느껴질 수 있습니다. 지나친 언행이나 공격적인 농담은 파이콘에 어울리지 않습니다.</li>
        <li>참석자가 성명서에 위배되는 행위를 한다면, 운영진은 그 행위를 한 사람에게 경고를 하거나 환불 없이 컨퍼런스에서 추방하는 등 필요한 행동을 취할 것입니다.</li>
      </ul>
      
      <h2>연락처</h2>
      <p>당신에게 어떤 문제가 발생하거나 다른 분들이 문제에 처한 것을 보셨거나, 불편 사항이 있으시다면 운영진에게 알려주십시오. 운영진은 ‘PyCon Staff’ 티셔츠를 입고 있을 것입니다. 긴급한 사안에 대해서는 아래의 담당자에게 연락 부탁드립니다.</p>
      <ul>
        <li><strong>김정환, 의장</strong> / iz4blue@pycon.kr</li>
        <li><strong>신근우, 부의장</strong> / cypher@pycon.kr</li>
      </ul>
      <p>행사 준비위원회와 자원봉사자들은 참석자들이 행사 기간 동안에 안전하게 참여하실 수 있도록 행사 장소의 보안직원 또는 지역 치안담당자 와의 연결을 지원해 드리는 등 최대한 도움을 드릴 수 있습니다.</p>

      <h2>라이센스</h2>
      <p>이 성명서는 Ada Initiative와 다른 자원봉사자들에 의해 작성된 Geek Feminism wiki의 정책 예시를 기본으로 하여 작성되었습니다. 원문은 Creative Commons Zero 라이센스를 따르고 있습니다.</p>
    </div>

    <div id="pyconkr">
      <h1 class="chapter">행사 안내</h1>
    </div>

    <div id="sponsors">
      <h1 class="chapter">후원사 소개</h1>
      {% for level in sponsor_levels %}
      <h2>{{ level.name }}</h2>
        {% for sponsor in level.sponsors %}
        <p>{{ sponsor.name }}</p>
        {% endfor %}
      {% endfor %}
    </div>
    
    <div id="patrons">
      <h1 class="chapter">개인 후원자 소개</h1>
      <p>조성수 / 상위 99.98%의 그랜드브론즈</p>
    </div>


    <div id="rightwing" class="wingpage">
    </div>

    <div id="endcover">
    </div>
  </body>
</html>
