<!DOCTYPE html>
<html dir="ltr" lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <title>파이콘 한국 2018</title>
    <meta name="author" content="PyCon Korea 2018 Organizing team"/>
    <meta name="date" content="2018-07-10"/>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="frontcover">
      <div class="wrap">
        <img class="slogan" src="images/pyconkr2018-slogan-white-left.svg">
        <h2>파이콘 한국 2018</h2>
        <h3>서울, 코엑스</h3>
        <p><strong>스프린트</strong> / 8월 15일, 17일</p>
        <p><strong>튜토리얼</strong> / 8월 17일</p>
        <p><strong>컨퍼런스</strong> / 8월 18일, 19일</p>
        <img class="logo" src="images/pyconkr2018-logo-white.svg">
        <img id="item-7" src="images/pyconkr2018-item-7.svg">
        <img id="item-8" src="images/pyconkr2018-item-8.svg">
      </div>
    </div>

    <div id="leftwing" class="wingpage">
      <h2>공식 해시태그</h2>
      <h4>#pyconkr</h4>
      <h2>파이콘 한국 홈페이지</h2>
      <h4>https://pycon.kr</h4>
      <p class="disclaimer">
      실제 프로그램 및 발표자 정보, 일정은 행사 당일 변경될 수 있음을 알려드립니다.<br>
      최신 정보 및 기타 행사 안내 사항에 대해서는 파이콘 한국 홈페이지를 참고해주세요.
      </p>
    </div>

    <div id="toc">
      <h1>DIVE <span style="font-weight: 400">INTO</span><br> DIVERSITY</h1>
      <ul class="toc">
        <li><a href="#about">파이콘 한국 2018</a></li>
        <li><a href="#coc">파이콘 한국 행동강령</a></li>
        <li><a href="#pyconkr">행사 안내</a></li>
        <li><a href="#venue">현장 안내</a></li>
        <li><a href="#keynote">키노트 안내</a></li>
        <li><a href="#program">프로그램 시간표</a></li>
        <li><a href="#sponsors">후원사 소개</a></li>
        <li><a href="#patrons">개인 후원자 소개</a></li>
        <li><a href="#staff">준비위원회 및 자원봉사자</a></li>
      </ul>
    </div>

    <div id="about">
      <h1 class="chapter">파이콘 한국 2018</h1>
      <h2>행사 소개</h2>
      <p>파이콘은 세계 각국의 파이썬 프로그래밍 언어 커뮤니티에서 주관하는 비영리 콘퍼런스입니다.</p>
      <p>한국에서는 처음으로 열린 파이콘 한국 2014를 시작으로 파이콘 한국 준비위원회는 건강한 국내 파이썬 생태계에 지속적인 보탬이 되고자, 커뮤니티 멤버들의 자발적인 봉사로 운영되고 있습니다. 2017년에는 저희 준비위원회가 한국에서 파이콘을 시작했던 처음의 마음가짐으로 세션뿐 아니라 더 다양한 프로그램으로 준비하였습니다. 더욱 다양한 참가자들과 함께 새로운 기술과 정보를 공유하고 서로 교류할 수 있는 행사가 되기를 희망합니다.</p>
      <h2>파이콘은 다른 개발자 행사와 <br>무엇이 다른가요?</h2>
      <p>파이콘 한국은 커뮤니티 주관으로 이뤄지는 비영리 개발자 대상 행사로, 타 기업 및 기관에서 개최하는 개발자 행사와는 성격이 다릅니다. 발표자와 튜토리얼 진행자를 포함하여, 자원봉사자와 준비위원회 담당자 등 모든 인원이 금전적 이득 없이 순수히 오픈소스 프로그래밍 언어인 파이썬의 저변 확대와 커뮤니티 활성화를 위해 진행하는 행사입니다.</p>
      <h2>슬로건 – Dive into Diversity</h2>
      <p>파이콘 한국 2018은 “Dive into Diversity – 다양성에 빠지다” 라는 슬로건으로 진행됩니다.</p>
      <p>파이썬 커뮤니티는 다양한 기술, 개성 및 경험을 갖추고 있는 전세계 구성원들이 서로의 차이를 존중하고, 다른 견해에 귀를 기울이며, 올바른 상호작용을 통해 성장하는 커뮤니티를 지향해왔습니다.</p>
      <p>파이콘 한국 2018에서는 다양한 사람들이 다양한 상황과 분야에서 다양한 의도를 가지고 파이썬과 만났던 사례를 공유합니다. 또한 우리가 원하는 것을 이루고 문제를 해결하는 도구로서, 파이썬이 어떻게 쓰이고 있는지 조명하려고 합니다. 파이콘 한국 2018을 통해 서로 다른 견해와 경험을 접하며, 생각의 경계를 허물고 새로운 아이디어를 발견하는 계기가 되었으면 합니다.</p>
      <h2>문의 &amp; 공식계정</h2>
      <p>파이콘 한국 2018에 대한 모든 문의는 아래의 공식 연락처로 주시기 바랍니다.</p>
      <p>
        <strong>이메일</strong> / support@pycon.kr<br>
        <strong>페이스북</strong> / https://www.facebook.com/pyconkorea/
      </p>
    </div>

    <div id="coc">
      <h1 class="chapter">파이콘 한국 행동강령</h1>
      {{ coc|safe }}
    </div>

    <div id="pyconkr">
      <h1 class="chapter">행사 안내</h1>
    </div>

    <div id="venue">
      <h1 class="chapter">현장 안내</h1>
    </div>

    <div id="keynote">
      <h1 class="chapter">키노트 안내</h1>
    </div>

    <div id="program">
      <h1 class="chapter">프로그램 시간표</h1>
    </div>

    <div id="sponsors">
      <h1 class="chapter">후원사 소개</h1>
      {% for level in sponsor_levels %}
      {% if level.mode == "compact" %}
      <h3 class="level">{{ level.name }} 후원사</h3>
      {% endif %}
      <div>
        {% for sponsor in level.sponsors %}
        <div class="sponsor {{ level.code }}">
          <img src="images/sponsors/{{ sponsor.img }}">
          {% if level.mode != "compact" %}
          <h3>{{ sponsor.name }}</h3>
          <p class="level">{{ level.name }}</p>
          {% endif %}
          <div class="desc">
            {% for desc in sponsor.desc %}
            <p>{{ desc|safe }}</p>
            {% endfor %}
            {% if sponsor.code %}
            <pre>{{ sponsor.code }}</pre>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    
    <div id="patrons">
      <h1 class="chapter">개인 후원자 소개</h1>
      <p>파이콘 한국 2018 을 후원해주신 개인 후원자 분들의 명단입니다. 후원해주셔서 감사합니다.</p>
      {% for patron in patrons %}
      <p class="patron">{{ patron.name|safe }}{% if patron.org %}<span class="org">{{ patron.org }}</span>{% endif %}</p>
      {% endfor %}
    </div>

    <div id="staff">
      <h1 class="chapter">준비위원회 및 자원봉사자</h1>
      <h2>파이콘 한국 준비위원회</h2>
      <p>파이콘 한국 준비위원회는 2014년 조직되어, 올해 다섯 번째 한국에서의 파이콘 행사를 준비하고 있습니다.</p>
      <p>준비위원회는 매년 신규 멤버를 모집하는 파이콘을 사랑하는 사람들의 열린 모임입니다. 관심있는 분들의 많은 지원과 참여 부탁드립니다. (가나다순)</p>
      <div class="staffs">
        {% for _ in staffs %}<span>{{ _ }}</span>{% endfor %}
      </div>
      <h2>자원봉사자</h2>
      <p>파이콘은 파이썬 커뮤니티 내에 많은 분들의 자발적인 도움으로 만들어가는 행사입니다. 파이콘 한국에 등록한 분들을 대상으로 매년 새롭게 자원봉사자를 모집하고 있습니다. (가나다순)</p>
      <div class="volunteers">
        {% for _ in volunteers %}<span>{{ _ }}</span>{% endfor %}
      </div>
    </div>

    <div id="rightwing" class="wingpage">
    </div>

    <div id="endcover">
    </div>
  </body>
</html>
