/* Import fonts from Google Fonts */
@import url('./notosans-korean.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Mono:400');

@page {
  /*size: 5.5in 8.5in;  */
  size: 148mm 210mm;
  margin: 60pt 60pt;
  /*marks: crop;*/
  marks: crop;
  prince-bleed: 3mm;
  prince-trim: 3mm;
}

img {
  max-width: 100%;
}

@page:right{ 
  @bottom-right { 
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: counter(page);
    font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;
    font-size: 9pt;
  }
  @top-right {
    content: string(doctitle);
    margin: 30pt 0 10pt 0;
    font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;
    font-size: 9pt;
    color: #333;
  }
}

@page:left {
  @bottom-left { 
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: counter(page);
    font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;
    font-size: 9pt;
  }
  @top-left {
    content: '';
    margin: 30pt 0 10pt 0;
    font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;
    font-size: 9pt;
    color: #333;
  }
}

/* first page */
@page:first {
  @bottom-right {
    content: normal;
    margin: 0;
  }

  @bottom-left {
    content: normal;
    margin: 0;
  }
}

/* reset chapter and figure counters on the body */
body {
  counter-reset: chapternum figurenum;
  line-height: 1.5;
  font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;
  font-size: 11pt;
}

* {
  font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;
}

/* get the title of the current chapter - this will be the content of the h1 
reset figure counter as figures start from 1 in each chapter */
h1 {
    string-set: doctitle content();
    page-break-before: always;
    counter-reset: figurenum;
    counter-reset: footnote;
}

h1:after {
  border-style: solid;
  border-width: 0 0 2px 0;
  content: "";
  display: block;
  padding-top: 3px;
}

/* increment and display figure counter */
figcaption:before {
  counter-increment: figurenum;
  content: counter(chapternum) "-" counter(figurenum) ". ";
}

/* footnotes */
.fn {
  float: footnote;
}

.fn {
  counter-increment: footnote;
}

.fn::footnote-call {
  content: counter(footnote);
  font-size: 9pt;
  vertical-align: super;
  line-height: none;
}

.fn::footnote-marker {
  font-weight: bold;
}

@page {
  @footnotes {
    border-top: 0.6pt solid black;
    padding-top: 8pt;
  }
}

h1 { font-size: 24pt; line-height: 1.3; }
h2 { font-size: 16pt; line-height: 1.1; padding-top: 10pt; margin-bottom: 0pt;}
h3 { font-size: 14pt; line-height: 1.1; margin-bottom: 0pt;}
h4 { font-size: 12pt; line-height: 1.0; margin-bottom: 0pt; }
p { font-size: 9pt; line-height: 1.5; text-align: justify; word-break: normal; letter-spacing: -0.25px;}
pre {
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.25px;
  font-size: 7.5pt;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-all; 
}

hr {
  content: '·';
  border: 0;
  font-size: 10pt;
  display: block;
  text-align: center;
  margin: 10pt auto;
}

li { 
  font-size: 9pt;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 6pt;
}

ul {
  margin-left: 16pt;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
}

h1+p, h2+p, h3+p {
  page-break-before: avoid;
}

table, figure {
  page-break-inside: avoid;
}

ul.toc {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* create page numbers using target-counter in the TOC */
ul.toc a::after {
  content: leader('—') target-counter(attr(href), page);
}

ul.toc li {
  font-size: 12pt;
  line-height: 1.5;
}

ul.toc li a {
  text-decoration: none;
}

a {
  color: #000;
}

/* add page number to cross references */
a.xref:after {
  content: " (page " target-counter(attr(href, url), page) ")";
}

@page:first {
  size: 5.5in 8.5in;  
  margin: 0;
  background: linear-gradient(90deg, #491faf, #771592, #a20a77);
  background-position: center;
  background-size: 104%;
  background-repeat: no-repeat;
	background-repeat: repeat-none;
}

#frontcover h2 {
  color: white;
  padding: 10pt 0 0;
  margin: 0;
}

#frontcover h3 {
  color: white;
  padding: 0pt 0pt 50pt;
  margin: 0;
}

#frontcover p {
  color: white;
  padding: 0;
  margin: 2pt 0;
}

#frontcover .wrap {
  margin: 120pt 50pt;
}

#frontcover .slogan {
  width: 85%;
  height: auto;
  margin-bottom: 14pt;
}
 
#frontcover .logo {
  width: 25%;
  height: auto;
  position: absolute;
  bottom: 70pt;
}

#frontcover #item-7 {
  width: 60%;
  height: auto;
  position: absolute;
  right: -20pt;
  bottom: 70pt;
}

#frontcover #item-8 {
  width: 40%;
  height: auto;
  position: absolute;
  left: -10pt;
  top: -75pt;
}

@page wingpage {
  @bottom-right {
    content: normal;
    margin: 0;
  }

  @bottom-left {
    content: normal;
    margin: 0;
  }

  @top-right {
    content: normal;
    margin: 0;
  }
  margin: 40pt 30pt;
}

@page end {
  @bottom-right {
    content: normal;
    margin: 0;
  }

  @bottom-left {
    content: normal;
    margin: 0;
  }

  @top-right {
    content: normal;
    margin: 0;
  }

  @bottom-center {
    content: url("images/pyconkr2018-logo-white.svg");
    width: 25%;
  }

  size: 5.5in 8.5in;  
  background: linear-gradient(-90deg, #491faf, #771592, #a20a77);
  background-position: center;
  background-size: 104%;
  background-repeat: no-repeat;
	background-repeat: repeat-none;
}

.wingpage {
  page: wingpage;
}

#leftwing h2 {
  text-align: center;
  width: 100%;
  padding: 60pt 0 0pt;
  font-size: 20pt;
}

#leftwing h4 {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-weight: normal;
}

#leftwing .disclaimer {
  position: absolute;
  bottom: 0pt;
  font-size: 8.5pt;
  text-align: center;
  width: 100%;
}

#endcover {
  page: end;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.sponsor img {
  width: 80%;
  height: 56pt;
  margin: 0 10%;
}

.sponsor h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

h3.level {
  margin-bottom: 10pt;
}

.sponsor p.level {
  font-weight: 400;
  font-size: 8pt;
  color: #444;
  margin-top: 0;
}

.sponsor.diamond,
.sponsor.sapphire,
.sponsor.platinum {
  page-break-after: always;
}

.sponsor.gold,
.sponsor.silver,
.sponsor.community {
  width: 48%;
  float: left;
}

.sponsor.gold:nth-child(even) {
  margin-left: 4%;
  page-break-after: always;
}

.sponsor.gold p {
}

.sponsor.silver,
.sponsor.community {
  height: 220pt;
  overflow: hidden;
}

.sponsor.silver:nth-child(even),
.sponsor.community:nth-child(even) {
  margin-left: 4%;
}

.sponsor.gold .desc p,
.sponsor.silver .desc p,
.sponsor.community .desc p {
  word-wrap: break-word;
  word-break: break-all;
}

.sponsor.silver p,
.sponsor.community p {
  font-size: 7.5pt;
}

.sponsor.silver img,
.sponsor.community img {
  height: 40pt;
}

.sponsor.silver h3,
.sponsor.community h3 {
  font-size: 12pt;
  margin-top: 5px;
}

.staffs span,
.volunteers span {
  font-size: 9pt;
  line-height: 1.5;
  width: 52pt;
  display: inline-block;
}

.emoji {
  width: 10pt;
  height: 10pt;
}

.patron {
  display: inline-block;
  margin: 5pt;
}

.patron p {
}

.patron .org {
  font-size: 7pt;
  color: #666;
  letter-spacing: -0.25px;
}

.keynote {
  margin-bottom: 50pt;
}

.keynote span {
  font-size: 9pt;
  color: #444;
}

.speaker h4 {
  margin-top: 10pt;
}

.speaker h4,
.speaker p,
.speaker span
{
  margin-left: 70px;
}

.speaker img {
  width: 60px;
  height: auto;
  position: absolute;
  border: 0.5px solid #DDD;
  border-radius: 60px;
  margin: 0 6px 0 0;
}

.program {
  margin-bottom: 30pt;
}

.program img {
  float: right;
  width: 116px;
  height: auto;
  margin: 0 0 10px 10px;
  border-radius: 116px;
}

.program:nth-child(even) img {
  float: left;
  margin: 0 10px 10px 0;
}

.category {
  border-left: 8pt solid black;
  line-height: 1;
  padding: 5pt 8pt;
  margin: 5px 0 15px;
}

.session {
  page-break-inside: avoid;
}

.session h4 {
  line-height: 1.4;
}

.session-label {
  position: relative;
  top: -1px;
  font-size: 8pt;
  font-weight: 700;
  color: #000 !important;
  width: 12pt;
  text-align: center;
  line-height: 1.4;
  border-radius: 15pt;
  display: inline-block;
}

.level-1 {
  background: #18A6B4;
}

.level-2 {
  background: #F5B112;
}

.level-3 {
  background: #ED2F39;
}

.lang-eng {
  background: #2F77FD;
}

.session span {
  font-size: 9pt;
  color: #444;
}

.session p {
  margin-left: 20px;
  margin-bottom: 36px;
}
